.layout {
    padding: 40px 0;
    width:80% ;
    max-width: 1200px;
    display: flex;
    align-items: flex-start;
    margin: 0 auto;
    .left {
        width: 25%;
        margin-right: 16px;
    }
    .right {
        flex: 1;
        width: 0;
    }
}